/* Global styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  /* Header styles */
  .hero {
    background-color: #000;
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }
  
  .navbar-brand {
    font-size: 5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
  
  .nav-item {
    margin-left: 30px;
    list-style: none;
  }
  
  .nav-link {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .navbar-toggle {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 20px;
  }
  
  .navbar-icon {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: all 0.3s ease;
  }
  
  .navbar-icon:nth-child(2) {
    width: 50%;
  }
  
  /* Hero content styles */
  .hero-content {
    margin-top: 100px;
  }
  
  .hero-title {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .hero-subtitle {
    font-size: 24px;
    margin-bottom: 50px;
  }
  
  .hero-button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .hero-button:hover {
    background-color: #ccc;
  }
  
  /* Features section styles */
  .features {
    padding: 5rem;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;

  
    
  }
  
  .section-title {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10rem;
  }
  
  .feature-row {
    display: flex;
    justify-content: space-between;
  }
  
  .feature {
    width: 30%;
    text-align: center;
    justify-content: center;
  }
  
  .feature-image {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .feature-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .feature-description {
    font-size: 18px;
    margin-bottom: 50px;
  }
  
  /* Footer styles */
  .footer {
    background-color: #000;
    color: #fff;
    padding: 50px 0;
    text-align: center;
  }
  
  .footer-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .footer-nav-item {
    margin-right: 30px;
    list-style: none;
  }
  
  .footer-nav-link {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
  
  .footer-nav-link:hover {
    text-decoration: underline;
  }
  
  .footer-legal {
    font-size: 14px;
  }

  .contact {
    background-color: #f8f8f8;
    padding: 80px 0;
  }
  
  .contact-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  
  .contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    border: none;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .contact-form input[type="submit"] {
    background-color: #3c3c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 15px 30px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .contact-form input[type="submit"]:hover {
    background-color: #fff;
    color: #3c3c3c;
    border: 1px solid #3c3c3c;
  }
  