@import "../../variables";

.Elements{
    padding: 4rem;
    
    .Elements2{
        color: black;
        text-align: justify;
        font-size: 2rem;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 2rem;
        margin-top: 2rem;
    
    }
    .Elements0{
        color: black;
        text-align: justify;
        font-size: 1.5rem;
        font-family: "Montserrat", sans-serif;
    }
}