@import "../../variables";


.Maps{
   
    justify-content: center;
    padding: 3rem;

    .fluid{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;

        &:hover,
        &:focus {
            transition: all ease-in-out 250ms;
            transform: scale(1.05);
        }
        
    }

}


@media screen and (max-width: 768px){
    .Maps{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        object-fit: center;
        margin-left: 1rem;
        padding: 2rem;

        .fluid{
            
            object-fit: contain;
            align-self: center;
            max-width: max-content;

            img{
                max-width: 30rem;
            }


        }

        .fluid-location{
            object-fit: contain;
            align-self: center;
            max-width: max-content;

            img{
                max-width: 30rem;
            }
        }
    }
}
