/* ------------------------------------------------------------------------------------------------ */
/* Posts.module.scss */
 
@import "./../../../variables";
 
.feed-posts-section {
  display: flex;
  flex-direction: column;
  
  gap: 1rem;
 
  h3 {
    padding: 1rem;
    font-size: 5rem;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    color: $--main-blue;
    text-align: center;
  }

  .posts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;    
  }
 
  
}
 